@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Source Han Sans SC VF';
    src: local('Source Han Sans SC VF'), url("/fonts/SourceHanSansSC.woff2");
}

:root {
    font-family: 'Source Han Sans SC VF', sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

#app {
    min-height: 100vh;
}
